@model IEnumerable<HoiTroWebsite.Models.Menu>

<ul class="navbar-nav mr-auto">
    @foreach (var i in Model)
    {
        <li class="nav-item">
            <a class="nav-link" href="@i.meta">@i.name</a>
        </li>
    }
    <!--
        <li class="nav-item active">
        <a class="nav-link" href="index.html">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="about.html">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="room.html">Our room</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="gallery.html">Gallery</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="blog.html">Blog</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact Us</a>
    </li>
        -->
</ul>