<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <!-- style css -->
    <link rel="stylesheet" href="~/Content/css/hoitro-style-config.css" />
    <link rel="stylesheet" href="~/Content/css/hoitro-style.css">
    <!--<link rel="stylesheet" href="~/Content/css/style_manaAcc.css">-->
    @*<link rel="stylesheet" href="~/Content/css/style_room.css">*@
    @*<link rel="stylesheet" href="~/Content/css/style_dangtin.css">*@
    <!--<link rel="stylesheet" href="~/Content/css/style_signinsignout.css" />-->
    <!-- Responsive-->
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
    <!-- fevicon -->
    <link rel="icon" href="~/Content/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.min.css" />
    <!-- font-awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<!-- body -->
<body class="main-layout">

    <!-- loader  -->
    @*<div class="loader_bg">
            <div class="loader"><img src="~/Content/images/loading.gif" alt="#" /></div>
        </div>*@
    <!-- end loader -->
    <!-- logo và đăng ký, đăng nhập -->
    <div class="header">
        <div class="logo_section ml-5" style="float: left">
            <div class="full">
                <div class="center-desk">
                    <div class="logo">
                        <a href="index.html"><img src="~/Content/images/logo.png" alt="Logo" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-welcome clearfix js-reload-html-header mr-5" style="float: right">
            <a rel="nofollow" class="btn" href="javascript:void(0)"><i class="icon heart size-18"></i> Yêu thích <span class="number-count js-save-post-total hidden" style="display: none;">1</span></a>
            <a rel="nofollow" class="btn" href="/dang-nhap"><i class="icon register"></i> Đăng nhập</a>
            <a rel="nofollow" class="btn" href="/dang-ky"><i class="icon login"></i> Đăng ký</a>
            <a rel="nofollow" class="btn" href="/quan-ly-tin-dang/1"><i class="icon login"></i>Tài khoản người dùng</a>
            <!-- chưa xử lí đăng nhập nên để id account mặc định là 1 -->
            <a rel="nofollow" class="btn btn-add-post" href="dang-tin-moi"><i></i>Đăng tin miễn phí</a>
        </div>
    </div>
    <!-- end logo và đăng ký, đăng nhập -->
    <!-- phần navigation bar -->
    <div id="menu-bar">
        @{ Html.RenderAction("GetMenuBar", "MainPartial"); }
    </div>
    <!-- kết thúc navigation bar -->

    <div class="content">
        @RenderBody();
    </div>

    <!-- phần hỗ trợ -->
    @{ Html.RenderAction("GetSupport", "MainPartial"); }
    <!-- kết thúc phần hỗ trợ -->

    <footer>
        <div class="footer">
            @{ Html.RenderAction("getFooter", "Footer"); }
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/js/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/js/js-one-image-wrapper.js"></script>
    <script src="~/Scripts/js/js-one-image-inner.js"></script>
    <script src="~/Scripts/js/js-one-image-preview.js"></script>
    <script src="~/Scripts/js/js-remove-one-image.js"></script>
    <script src="~/Scripts/js/js-change-image-file.js"></script>
    <script src="~/Scripts/js/js-input-value.js"></script>

    <script src="~/Scripts/js/js-form-submit-data.js"></script>
    <script src="~/Scripts/js/js-frm-manage-post.js"></script>
    <!-- sidebar -->
    <script src="~/Scripts/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/js/custom.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
</body>
</html>