<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <!-- style css -->
    <link rel="stylesheet" href="~/Content/css/hoitro-style-config.css" />
    <link rel="stylesheet" href="~/Content/css/hoitro-style.css">
    @*<link rel="stylesheet" href="~/Content/css/style_room.css">*@
    @*<link rel="stylesheet" href="~/Content/css/style_dangtin.css">*@
    <link rel="stylesheet" href="~/Content/css/style_signinsignout.css" />
    <!-- Responsive-->
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
    <!-- fevicon -->
    <link rel="icon" href="~/Content/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/jquery.mCustomScrollbar.min.css" />
    <!-- font-awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<!-- body -->
<body class="main-layout">

    <!-- loader  -->
    @*<div class="loader_bg">
            <div class="loader"><img src="~/Content/images/loading.gif" alt="#" /></div>
        </div>*@
    <!-- end loader -->
    <!-- logo và đăng ký, đăng nhập -->
    <div class="header">
        <div class="logo_section ml-5" style="float: left">
            <div class="full">
                <div class="center-desk">
                    <div class="logo">
                        <a href="index.html"><img src="~/Content/images/hoitro-logo.svg" alt="Logo" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-welcome clearfix js-reload-html-header mr-5" style="float: right">
            <a rel="nofollow" class="btn" href="javascript:void(0)"><i class="icon heart size-18"></i> Yêu thích <span class="number-count js-save-post-total hidden" style="display: none;">1</span></a>
            <a rel="nofollow" class="btn" href="dang-nhap"><i class="icon register"></i> Đăng nhập</a>
            <a rel="nofollow" class="btn" href="dang-ky"><i class="icon login"></i> Đăng ký</a>
            <a rel="nofollow" class="btn btn-add-post" href="dang-tin-moi"><i></i>Đăng tin miễn phí</a>
        </div>
    </div>
    <!-- end logo và đăng ký, đăng nhập -->
    <!-- phần navigation bar -->
    <div id="menu-bar">
        @{ Html.RenderAction("GetMenuBar", "MainPartial"); }
    </div>
    <!-- kết thúc navigation bar -->

    <div class="content">
        @RenderBody();
    </div>

    <!-- phần hỗ trợ -->
    @{ Html.RenderAction("GetSupport", "MainPartial"); }
    <!-- kết thúc phần hỗ trợ -->

    <footer>
        <div class="footer">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
                        <h3>Về chúng tôi</h3>
                        <ul class="footer-menu-list">
                            <li><a href="#">Giới thiệu về Hỏi Trọ</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Chính sách thanh toán</a></li>
                            <li><a href="#">Quy chế hoạt động</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
                        <h3>Menu link</h3>
                        <ul class="footer-menu-list">
                            <li class="active"><a href="/trang-chu">Home</a></li>
                            <li><a href="/phong-tro">Our Room</a></li>
                            <li><a href="/tin-tuc">Blog</a></li>
                            <li><a href="/lien-he">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
                        <h3>Về khách hàng</h3>
                        <ul class="footer-menu-list">
                            <li><a href="#">Giới thiệu về Hỏi Trọ</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Chính sách thanh toán</a></li>
                            <li><a href="#">Quy chế hoạt động</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
                        <h3>Kết nối với HoiTro</h3>
                        <ul class="social_icon">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <p>
                                Copyright © 2024 - 2025 Ton Duc Thang Student project
                            </p>
                        </div>
                    </div>
                </div>
                <ul class="footer-company-info">
                    <li>
                        <p><span>Địa chỉ:</span> bla bla bla</p>
                    </li>
                    <li>
                        <p><span>Email:</span> bla bla bla</p>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/js/jquery-3.0.0.min.js"></script>
    <!-- sidebar -->
    <script src="~/Scripts/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/js/custom.js"></script>
</body>
</html>