<div data-bs-backdrop="static" data-bs-scroll="true" tabindex="-1" id="myoffcanvas"
     aria-labelledby="offcanvasAdvanceLabel" class="offcanvas offcanvas-bottom rounded-4"
     style="--bs-offcanvas-height: 90%; max-width: 600px; margin: 0px auto;" aria-modal="true" role="dialog">
    <div class="offcanvas-header shadow-sm z-1 px-4">
        <div id="offcanvasAdvanceLabel" class="fs-4">Bộ lọc</div> <button type="button" data-bs-dismiss="offcanvas"
                                                                          aria-label="Close" class="btn-close p-3"></button>
    </div>
    <div class="offcanvas-body p-4" style="--bs-bg-opacity: 0.08;">
        <div class="mb-4 pb-2">
            <div class="fs-5 fw-normal mb-3">Danh mục cho thuê</div>
            <div class="d-flex gap-2 fs-8">
                <div class="text-nowrap">
                    <input type="radio" class="radio-custom" id="danh_muc_1" name="danh_muc" value="1" checked>
                    <label for="danh_muc_1" class="border shadow-sm rounded-4 px-3 p-2 overflow-hidden">
                        Tất
                        cả
                    </label>
                </div>
                <div class="text-nowrap">
                    <input type="radio" class="radio-custom" id="danh_muc_2" name="danh_muc" value="2">
                    <label for="danh_muc_2" class="border shadow-sm rounded-4 px-3 p-2 overflow-hidden">
                        Phòng
                        trọ
                    </label>
                </div>
                <div class="text-nowrap">
                    <input type="radio" class="radio-custom" id="danh_muc_3" name="danh_muc" value="3">
                    <label for="danh_muc_3" class="border shadow-sm rounded-4 px-3 p-2 overflow-hidden">
                        Nhà
                        riêng
                    </label>
                </div>
            </div>
        </div>
        <div class="mb-4 pb-2">
            <div class="fs-5 fw-normal mb-2">Lọc theo khu vực</div>
            <div class="row gx-1">
                <div class="col-4">
                    <label class="form-label mb-1">Tỉnh thành</label> 
                    <select aria-label="Chọn tỉnh thành" class="form-select form-select-lg shadow-sm rounded-4 fs-7 ps-2">
                        <option value="">Toàn quốc</option>
                        <option value="90">Hồ Chí Minh</option>
                        <option value="41">Hà Nội</option>
                        <option value="72">Đà Nẵng</option>
                        <option value="87">Bình Dương</option>
                        <option value="88">Đồng Nai</option>
                        <option value="89">Bà Rịa - Vũng Tàu</option>
                        <option value="99">Cần Thơ</option>
                        <option value="77">Khánh Hòa</option>
                        <option value="60">Hải Phòng</option>
                        <option value="97">An Giang</option>
                        <option value="55">Bắc Giang</option>
                        <option value="44">Bắc Kạn</option>
                        <option value="102">Bạc Liêu</option>
                        <option value="58">Bắc Ninh</option>
                        <option value="93">Bến Tre</option>
                        <option value="85">Bình Phước</option>
                        <option value="79">Bình Thuận</option>
                        <option value="75">Bình Định</option>
                        <option value="103">Cà Mau</option>
                        <option value="43">Cao Bằng</option>
                        <option value="81">Gia Lai</option>
                        <option value="42">Hà Giang</option>
                        <option value="63">Hà Nam</option>
                        <option value="68">Hà Tĩnh</option>
                        <option value="59">Hải Dương</option>
                        <option value="100">Hậu Giang</option>
                        <option value="51">Hòa Bình</option>
                        <option value="61">Hưng Yên</option>
                        <option value="98">Kiên Giang</option>
                        <option value="80">Kon Tum</option>
                        <option value="48">Lai Châu</option>
                        <option value="84">Lâm Đồng</option>
                        <option value="53">Lạng Sơn</option>
                        <option value="46">Lào Cai</option>
                        <option value="91">Long An</option>
                        <option value="64">Nam Định</option>
                        <option value="67">Nghệ An</option>
                        <option value="65">Ninh Bình</option>
                        <option value="78">Ninh Thuận</option>
                        <option value="56">Phú Thọ</option>
                        <option value="76">Phú Yên</option>
                        <option value="69">Quảng Bình</option>
                        <option value="73">Quảng Nam</option>
                        <option value="74">Quảng Ngãi</option>
                        <option value="54">Quảng Ninh</option>
                        <option value="70">Quảng Trị</option>
                        <option value="101">Sóc Trăng</option>
                        <option value="49">Sơn La</option>
                        <option value="86">Tây Ninh</option>
                        <option value="62">Thái Bình</option>
                        <option value="52">Thái Nguyên</option>
                        <option value="66">Thanh Hóa</option>
                        <option value="71">Thừa Thiên Huế</option>
                        <option value="92">Tiền Giang</option>
                        <option value="94">Trà Vinh</option>
                        <option value="45">Tuyên Quang</option>
                        <option value="95">Vĩnh Long</option>
                        <option value="57">Vĩnh Phúc</option>
                        <option value="50">Yên Bái</option>
                        <option value="82">Đắk Lắk</option>
                        <option value="83">Đắk Nông</option>
                        <option value="47">Điện Biên</option>
                        <option value="96">Đồng Tháp</option>
                    </select>
                </div>
                <div class="col-4">
                    <label class="form-label mb-1">Quận huyện</label> <select aria-label="Chọn quận huyện"
                                                                              class="form-select form-select-lg shadow-sm rounded-4 fs-7 ps-2">
                        <option value="">Tất cả</option>
                    </select>
                </div>
                <div class="col-4">
                    <label class="form-label mb-1">Phường xã</label> <select aria-label="Chọn phường xã"
                                                                             class="form-select form-select-lg shadow-sm rounded-4 fs-7 ps-2">
                        <option value="">Tất cả</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="mb-4 pb-2">
            <div class="fs-5 fw-normal mb-3">Khoảng giá</div>
            <div class="mb-3 mt-4">
                <div class="js-price-slider rounded-5" id="gia_tien" style="background-color: #ffecec !important;">
                </div>
                <!-- <span class="js-left-tooltip tooltip text-danger">sang</span>
                <div class="js-right-tooltip tooltip text-danger">sang</div> -->
            </div>
            <div class="row gx-1 fs-8">
                <div class="w-auto">
                    <input type="radio" class="js-price-tag radio-custom" id="price_1" data-min-value="" data-max-value=""
                           name="price" checked />
                    <label class="border shadow-sm rounded-4 px-3 p-2 overflow-hidden"
                           for="price_1">Tất cả</label>
                </div>
                <div class="w-auto">
                    <input type="radio" class="js-price-tag radio-custom" id="price_2" data-min-value="" data-max-value="1"
                           name="price" />
                    <label class="border shadow-sm rounded-4 px-3 p-2 overflow-hidden"
                           for="price_2">Dưới 1 triệu</label>
                </div>
                <div class="w-auto">
                    <input type="radio" class="js-price-tag radio-custom" id="price_3" data-min-value="1" data-max-value="2"
                           name="price" />
                    <label class="border shadow-sm rounded-4 px-3 p-2 overflow-hidden" for="price_3">
                        1
                        - 2 triệu
                    </label>
                </div>
                <div class="w-auto">
                    <input type="radio" class="js-price-tag radio-custom" id="price_4" data-min-value="2" data-max-value="3"
                           name="price" />
                    <label class="border shadow-sm rounded-4 px-3 p-2 overflow-hidden" for="price_4">
                        2
                        - 3 triệu
                    </label>
                </div>
                <div class="w-auto">
                    <input type="radio" class="js-price-tag radio-custom" id="price_5" data-min-value="3" data-max-value="5"
                           name="price" />
                    <label class="border shadow-sm rounded-4 px-3 p-2 overflow-hidden" for="price_5">
                        3
                        - 5 triệu
                    </label>
                </div>
                <div class="w-auto">
                    <input type="radio" class="js-price-tag radio-custom" id="price_6" data-min-value="5" data-max-value="7"
                           name="price" />
                    <label class="border shadow-sm rounded-4 px-3 p-2 overflow-hidden" for="price_6">
                        5
                        - 7 triệu
                    </label>
                </div>
                <div class="w-auto">
                    <input type="radio" class="js-price-tag radio-custom" id="price_7" data-min-value="7" data-max-value="10"
                           name="price" />
                    <label class="border shadow-sm rounded-4 px-3 p-2 overflow-hidden" for="price_7">
                        7
                        - 10 triệu
                    </label>
                </div>
                <div class="w-auto">
                    <input type="radio" class="js-price-tag radio-custom" id="price_8" data-min-value="10" data-max-value="15"
                           name="price" />
                    <label class="border shadow-sm rounded-4 px-3 p-2 overflow-hidden" for="price_8">
                        10
                        - 15 triệu
                    </label>
                </div>
                <div class="w-auto">
                    <input type="radio" class="js-price-tag radio-custom" id="price_9" data-min-value="15" data-max-value=""
                           name="price" />
                    <label class="border shadow-sm rounded-4 px-3 p-2 overflow-hidden"
                           for="price_9">Trên 15 triệu</label>
                </div>
            </div>
        </div>
        <div class="mb-4 pb-2">
            <div class="fs-5 fw-normal mb-3">Khoảng diện tích</div>
            <div class="mb-3 mt-4">
                <div class="js-area-slider rounded-5" id="dien_tich" style="background-color: #ffecec !important;">
                </div>
            </div>
            <div class="row gx-1 text-nowrap fs-8">
                <div class="w-auto">
                    <input type="radio" class="js-area-tag radio-custom" id="area_1" data-min-value="" data-max-value=""
                           name="area" checked />
                    <label class="border shadow-sm rounded-4 px-3 p-2 overflow-hidden" for="area_1">
                        Tất
                        cả
                    </label>
                </div>
                <div class="w-auto">
                    <input type="radio" class="js-area-tag radio-custom" id="area_2" data-min-value="" data-max-value="20"
                           name="area" />
                    <label class="border shadow-sm rounded-4 px-3 p-2 overflow-hidden" for="area_2">
                        Dưới
                        20m<sup>2</sup>
                    </label>
                </div>
                <div class="w-auto">
                    <input type="radio" class="js-area-tag radio-custom" id="area_3" data-min-value="20" data-max-value="30"
                           name="area" />
                    <label class="border shadow-sm rounded-4 px-3 p-2 overflow-hidden" for="area_3">
                        Từ
                        20m<sup>2</sup> - 30m<sup>2</sup>
                    </label>
                </div>
                <div class="w-auto">
                    <input type="radio" class="js-area-tag radio-custom" id="area_4" data-min-value="30" data-max-value="70"
                           name="area" />
                    <label class="border shadow-sm rounded-4 px-3 p-2 overflow-hidden" for="area_4">
                        Từ
                        30m<sup>2</sup> - 50m<sup>2</sup>
                    </label>
                </div>
                <div class="w-auto">
                    <input type="radio" class="js-area-tag radio-custom" id="area_5" data-min-value="50" data-max-value="70"
                           name="area" />
                    <label class="border shadow-sm rounded-4 px-3 p-2 overflow-hidden" for="area_5">
                        Từ
                        50m<sup>2</sup> - 70m<sup>2</sup>
                    </label>
                </div>
                <div class="w-auto">
                    <input type="radio" class="js-area-tag radio-custom" id="area_6" data-min-value="70" data-max-value="90"
                           name="area" />
                    <label class="border shadow-sm rounded-4 px-3 p-2 overflow-hidden" for="area_6">
                        Từ
                        70m<sup>2</sup> - 90m<sup>2</sup>
                    </label>
                </div>
                <div class="w-auto">
                    <input type="radio" class="js-area-tag radio-custom" id="area_7" data-min-value="90" data-max-value=""
                           name="area" />
                    <label class="border shadow-sm rounded-4 px-3 p-2 overflow-hidden" for="area_7">
                        Trên
                        90m<sup>2</sup>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer p-2 p-md-3 px-4 shadow-lg z-1">
        <div class="btn btn-danger btn-lg fs-6 w-100 p-25 rounded-4">Áp dụng</div>
    </div>
</div>