@model HoiTroWebsite.Models.Account

@{
    ViewBag.Title = "Thay đổi số điện thoại";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<main role="main" class="ml-sm-auto col-lg-10">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Đổi số điện thoại</h1>
    </div>

    <form class="js-form-submit-data" action="#" data-action-url="https://phongtro123.com/api/user/update/phone" method="POST" novalidate="novalidate">
        <div class="form-group row mt-5">
            <label for="user_phone" class="col-md-2 offset-md-2 col-form-label">Số điện thoại cũ</label>
            <div class="col-md-6">
                <input type="phone" name="old_phone" readonly="" class="form-control disable" id="user_phone" value="@Model.phoneNum">
            </div>
        </div>
        <div class="form-group row">
            <label for="user_phone" class="col-md-2 offset-md-2 col-form-label">Số điện thoại mới</label>
            <div class="col-md-6">
                <input type="phone" name="phone" class="form-control js-input-phone" id="user_phone" value="">
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-md-2 offset-md-2 col-form-label"></label>
            <div class="col-md-2">
                <button class="btn btn-warning mb-2 btn-block js-btn-get-verify-code" data-action-url="https://phongtro123.com/api/user/send-token">Lấy mã xác thực</button>
            </div>
        </div>
        <div class="form-group row">
            <label for="user_phone2" class="col-md-2 offset-md-2 col-form-label">Mã xác thực</label>
            <div class="col-md-6">
                <input type="text" name="verify_code" class="form-control" id="user_phone2" value="">
            </div>
        </div>
        <div class="form-group row mt-5">
            <label for="" class="col-md-2 col-form-label"></label>
            <div class="col-md-8">
                <button type="submit" disabled="disabled" class="btn btn-primary mb-2 btn-block disabled js-btn-cap-nhat">Cập nhật</button>
            </div>
        </div>
    </form>


    <br><br>

</main>