@using HoiTroWebsite.HTLibraries;
@model List<HoiTroWebsite.Models2.LatestRoomsModel>

@{
    string gia = "";
    string pathAnh = "";
    string tieu_de_hien_thi = "";
    DateTime bayGio = DateTime.Now;
}

<section class="section section-aside-tinmoidang">
    <div class="section-header"><span class="section-title">Tin mới đăng</span></div>
    <ul class="post-list aside clearfix">
        @foreach (var room in Model)
        {
            tieu_de_hien_thi = (room.title as string).Length >= 40 ? (room.title as string).Substring(0, 40) + "..." : room.title;
            gia = new NumberUnit(room.price).RoundWithLargestUnit();
            pathAnh = room.pathImg ?? "/Data/default-room-img.jpg";
            <li class="post-item clearfix normal" post-id="668181">
                <a href="/phong-khep-kin-du-do-ban-cong-sieu-rong-pr668181.html">
                    <figure style="overflow: hidden;">
                        <img class="lazy_done"
                             src="@pathAnh"
                             alt="@room.title" height="100" width="100" layout="responsive"
                             data-loaded="true">
                    </figure>
                    <div class="post-meta position-relative">
                        <span class="post-title" style="color: #055699;">
                            @tieu_de_hien_thi
                        </span>
                        <div class="w-100 position-absolute" style="bottom: 0px;">
                            <span class="post-price">@gia/tháng</span>
                            <time class="post-time float-end" title="">@(((DateTime)room.dateTime).TimeAgo(bayGio)) </time>
                        </div>                      
                    </div>
                </a>
            </li>
        }
        @*<li class="post-item clearfix normal" post-id="668181">
            <a href="/phong-khep-kin-du-do-ban-cong-sieu-rong-pr668181.html">
                <figure>
                    <img class="lazy_done"
                         src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/25/img-4988_1729855308.jpg"
                         data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/25/img-4988_1729855308.jpg"
                         alt="Phòng khép kín, đủ đồ, ban công siêu rộng" height="100" width="100" layout="responsive"
                         data-loaded="true">
                </figure>
                <div class="post-meta">
                    <span class="post-title" style="color: #055699;">
                        Phòng khép kín, đủ đồ, ban công
                        siêu rộng
                    </span><span class="post-price">5 triệu/tháng</span><time class="post-time"
                                                                              title="Thứ 6, 18:23 25/10/2024">25 phút trước</time>
                </div>
            </a>
        </li>
        <li class="post-item clearfix normal" post-id="668180">
            <a href="/co-may-lanh-1pn-6-trieu-bcons-polygon-ngay-thu-duc-pham-van-dong-pr668180.html">
                <figure>
                    <img class="lazy_done"
                         src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/25/a022e0af-3a90-4a45-98c6-4395c9ffcb68_1729854902.jpg"
                         data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/25/a022e0af-3a90-4a45-98c6-4395c9ffcb68_1729854902.jpg"
                         alt="(Có máy lạnh) 1PN 6 triệu Bcons Polygon ngay Thủ Đức Phạm Văn Đồng" height="100"
                         width="100" layout="responsive" data-loaded="true">
                </figure>
                <div class="post-meta">
                    <span class="post-title" style="color: #055699;">
                        (Có máy lạnh) 1PN 6 triệu Bcons
                        Polygon ngay Thủ…
                    </span><span class="post-price">6 triệu/tháng</span><time class="post-time"
                                                                              title="Thứ 6, 18:15 25/10/2024">33 phút trước</time>
                </div>
            </a>
        </li>
        <li class="post-item clearfix normal" post-id="668179">
            <a href="/studio-ban-cong-rieng-28m2-gia-re-tai-binh-thanh-pr668179.html">
                <figure>
                    <img class="lazy_done"
                         src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/25/z5389753998514-2d341c1fc9265cde7983f34d80867efb_1729834601.jpg"
                         data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/25/z5389753998514-2d341c1fc9265cde7983f34d80867efb_1729834601.jpg"
                         alt="STUDIO BAN CÔNG RIÊNG 28M2 GIÁ RẺ TẠI BÌNH THẠNH" height="100" width="100"
                         layout="responsive" data-loaded="true">
                </figure>
                <div class="post-meta">
                    <span class="post-title" style="color: #055699;">
                        STUDIO BAN CÔNG RIÊNG 28M2 GIÁ
                        RẺ TẠI BÌNH THẠNH
                    </span><span class="post-price">5.8 triệu/tháng</span><time class="post-time"
                                                                                title="Thứ 6, 18:04 25/10/2024">44 phút trước</time>
                </div>
            </a>
        </li>
        <li class="post-item clearfix tin-vip vip3" post-id="668178">
            <a href="/phong-tro-binh-tan-25m2-cua-so-lon-du-an-moi-pr668178.html">
                <figure>
                    <img class="lazy_done"
                         src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/25/z5966737885011-ef0318aeddab6cfc6554617ec8e28d43_1729853671.jpg"
                         data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/25/z5966737885011-ef0318aeddab6cfc6554617ec8e28d43_1729853671.jpg"
                         alt=" Phòng Trọ BÌNH TÂN 25m2 Cửa sổ lớn - Dự Án mới" height="100" width="100"
                         layout="responsive" data-loaded="true">
                </figure>
                <div class="post-meta">
                    <span class="post-title" style="color: #3763e0;">
                        <span class="star star-2"></span> Phòng Trọ BÌNH TÂN 25m2 Cửa sổ lớn - Dự…
                    </span><span class="post-price">2.2 triệu/tháng</span><time class="post-time"
                                                                                title="Thứ 6, 17:54 25/10/2024">54 phút trước</time>
                </div>
            </a>
        </li>
        <li class="post-item clearfix normal" post-id="668177">
            <a href="/minh-can-pass-lai-phong-tro-nay-a-ib-minh-se-ho-tro-800k-pr668177.html">
                <figure>
                    <img class="lazy_done"
                         src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/25/462554085-354289884372883-6613491857088114358-n_1729849876.jpg"
                         data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/25/462554085-354289884372883-6613491857088114358-n_1729849876.jpg"
                         alt="Mình cần PASS lại phòng trọ này ạ, ib mình sẽ hỗ trợ 800k" height="100" width="100"
                         layout="responsive" data-loaded="true">
                </figure>
                <div class="post-meta">
                    <span class="post-title" style="color: #055699;">
                        Mình cần PASS lại phòng trọ này
                        ạ, ib mình…
                    </span><span class="post-price">2.8 triệu/tháng</span><time class="post-time"
                                                                                title="Thứ 6, 16:51 25/10/2024">1 giờ trước</time>
                </div>
            </a>
        </li>
        <li class="post-item clearfix normal" post-id="668176">
            <a href="/can-studio-kdc-trung-son-q8-gan-cau-gan-cau-ong-lon-pr668176.html">
                <figure>
                    <img class="lazy_done"
                         src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/25/img-2163_1729849149.jpg"
                         data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/25/img-2163_1729849149.jpg"
                         alt="Studio KDC Trung Sơn Q8 gần cầu gần cầu Ông Lớn" height="100" width="100"
                         layout="responsive" data-loaded="true">
                </figure>
                <div class="post-meta">
                    <span class="post-title" style="color: #055699;">
                        Studio KDC Trung Sơn Q8 gần cầu
                        gần cầu Ông Lớn
                    </span><span class="post-price">3.7 triệu/tháng</span><time class="post-time"
                                                                                title="Thứ 6, 16:40 25/10/2024">2 giờ trước</time>
                </div>
            </a>
        </li>
        <li class="post-item clearfix normal" post-id="668175">
            <a href="/cho-thue-can-studio-ban-cong-rong-thoang-mat-duong-ta-quang-buu-q8-gan-ben-xe-q8-pr668175.html">
                <figure>
                    <img class="lazy" src="/images/mobile/image-placeholder.png"
                         data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/25/img-2149_1729848802.jpg"
                         alt="Cho thuê căn studio ban công rộng thoáng mát Đường Tạ Quang Bửu Q8 gần bến xe Q8"
                         height="100" width="100" layout="responsive">
                </figure>
                <div class="post-meta">
                    <span class="post-title" style="color: #055699;">
                        Cho thuê căn studio ban công
                        rộng thoáng mát…
                    </span><span class="post-price">6 triệu/tháng</span><time class="post-time"
                                                                              title="Thứ 6, 16:34 25/10/2024">2 giờ trước</time>
                </div>
            </a>
        </li>
        <li class="post-item clearfix normal" post-id="668174">
            <a href="/cho-thue-chung-cu-m-one-gia-dinh-nguyen-binh-khiem-gv-75m2-2pn-nt-14tr-pr668174.html">
                <figure>
                    <img class="lazy" src="/images/mobile/image-placeholder.png"
                         data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/25/461_1729848390.jpg"
                         alt="Cho thuê chung cư M-One Gia Định, Nguyễn Bỉnh Khiêm, GV - 75m2 chỉ 14tr" height="100"
                         width="100" layout="responsive">
                </figure>
                <div class="post-meta">
                    <span class="post-title" style="color: #055699;">
                        Cho thuê chung cư M-One Gia
                        Định, Nguyễn Bỉnh…
                    </span><span class="post-price">14 triệu/tháng</span><time class="post-time"
                                                                               title="Thứ 6, 16:26 25/10/2024">2 giờ trước</time>
                </div>
            </a>
        </li>
        <li class="post-item clearfix normal" post-id="668173">
            <a href="/phong-tien-nghi-new-gan-dh-cong-nghiep-ngay-nha-tho-ben-cat-2-pr668173.html">
                <figure>
                    <img class="lazy" src="/images/mobile/image-placeholder.png"
                         data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/25/z4217800530383-7d697357307e49c2d55f9d5b5c5d07a3_1729847950.jpg"
                         alt="Phòng Tiện Nghi NEW Gần ĐH Công Nghiệp, Ngay Nhà Thờ Bến Cát" height="100" width="100"
                         layout="responsive">
                </figure>
                <div class="post-meta">
                    <span class="post-title" style="color: #055699;">
                        Phòng Tiện Nghi NEW Gần ĐH Công
                        Nghiệp, Ngay…
                    </span>
                    <span class="post-price">3.7 triệu/tháng</span>
                    <time class="post-time" title="Thứ 6, 16:19 25/10/2024">2 giờ trước</time>
                </div>
            </a>
        </li>
        <li class="post-item clearfix normal" post-id="668172">
            <a href="/phong-tro-cat-lai-gan-citisoho-gan-umt-gan-cang-full-nt-3tr-pr668172.html">
                <figure>
                    <img class="lazy" src="/images/mobile/image-placeholder.png"
                         data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/25/463048935-465474676505534-1363485093294542846-n_1729845862.jpg"
                         alt="Phòng trọ Cát lái gần citisoho gần umt gần cảng Full nt 3tr" height="100" width="100"
                         layout="responsive">
                </figure>
                <div class="post-meta">
                    <span class="post-title" style="color: #055699;">
                        Phòng trọ Cát lái gần citisoho
                        gần umt gần…
                    </span><span class="post-price">3 triệu/tháng</span>
                    <time class="post-time" title="Thứ 6, 15:44 25/10/2024">3 giờ trước</time>
                </div>
            </a>
        </li>*@
    </ul>
</section>
