<!-- bài viết mới -->
<section class="section section-sublink">
    <div class="section-header">
        <span class="section-title">Bài viết mới</span>
    </div>
    <ul class="list-links clearfix">
        <li>
            <a href="/quy-dinh-an-toan-phong-chay-chua-chay-tai-cac-nha-tro-cho-thue.html"
               title="Vấn nạn an toàn phòng cháy chữa cháy tại các nhà trọ cho thuê">
                Vấn nạn an toàn phòng cháy
                chữa cháy tại các nhà trọ cho
                thuê
            </a>
        </li>
        <li>
            <a href="/tien-dat-coc-thue-phong-tro-co-lay-lai-duoc-khong.html"
               title="Tiền đặt cọc thuê phòng trọ có lấy lại được không?">
                Tiền đặt cọc thuê phòng trọ có lấy
                lại được không?
            </a>
        </li>
        <li>
            <a href="/dong-tien-thue-phong-tro-dau-thang-hay-cuoi-thang.html"
               title="Đóng tiền thuê phòng trọ đầu tháng hay cuối tháng?">
                Đóng tiền thuê phòng trọ đầu tháng
                hay cuối tháng?
            </a>
        </li>
        <li>
            <a href="/lo-dien-top-5-khu-vuc-hot-nhat-de-thue-phong-tro-tai-tphcm.html"
               title='Lộ diện top 5 khu vực "hot" nhất để thuê phòng trọ tại TPHCM'>
                Lộ diện top 5 khu vực "hot"
                nhất để thuê phòng trọ tại
                TPHCM
            </a>
        </li>
        <li>
            <a href="/quy-trinh-dang-ky-tam-tru-cho-nguoi-thue-phong-tro-moi-nhat.html"
               title="Quy trình đăng ký tạm trú cho người thuê phòng trọ mới nhất">
                Quy trình đăng ký tạm trú
                cho người thuê phòng trọ mới
                nhất
            </a>
        </li>
        <li>
            <a href="/thu-tuc-thue-phong-tro-chinh-xac-danh-cho-nguoi-nuoc-ngoai.html"
               title="Thủ tục thuê phòng trọ chính xác dành cho người nước ngoài">
                Thủ tục thuê phòng trọ chính
                xác dành cho người nước ngoài
            </a>
        </li>
    </ul>
</section>

<!-- quan tâm -->
<section class="section section-sublink">
    <div class="section-header"><span class="section-title">Có thể bạn quan tâm</span></div>
    <ul class="list-links clearfix">
        <li>
            <a href="/news/hop-dong-thue-nha-tro-phong-tro" title="Mẫu hợp đồng cho thuê phòng trọ">
                Mẫu hợp
                đồng cho thuê phòng trọ
            </a>
        </li>
        <li>
            <a href="/kinh-nghiem/kinh-nghiem-thue-phong-tro-tranh-bi-lua-gat.html"
               title="Cẩn thận các kiểu lừa đảo khi thuê phòng trọ">
                Cẩn thận các kiểu lừa đảo khi thuê phòng
                trọ
            </a>
        </li>
        <li>
            <a href="/kinh-nghiem/chia-se-10-kinh-nghiem-khi-thue-phong-tro-cho-sinh-vien.html"
               title="Kinh nghiệm thuê phòng trọ cho Sinh Viên">Kinh nghiệm thuê phòng trọ Sinh Viên</a>
        </li>
    </ul>
</section>
