@model List<HoiTroWebsite.Models.Menu>

<nav class="navigation navbar navbar-expand-md navbar-dark w-100">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav mx-auto">
            @foreach (var i in Model)
            {
                if (i.hasSubMenu == false)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/@i.meta">@i.name</a>
                    </li>
                }
                else
                {
                    <li class="nav-item my-dropdown">
                        <span class="nav-link my-dropdown-button">@i.name</span>
                        <div class="my-dropdown-content">
                            @{ Html.RenderAction("GetSubMenu", "MainPartial", new {mainMenuID = i.id}); }
                        </div>
                    </li>
                }
            }
        </ul>        
    </div>
</nav>