<section id="filter-top">
    <div class="filter-body">
        <div class="filter-item post-estate-type js-filter-show-popup-estate-type active">
            <span>Phòng trọ, nhà trọ</span>
            <span class="delete-item"></span>
        </div>
        <div class="filter-item location js-filter-show-popup-city"><span>Toàn quốc</span> <!----></div>
        <div class="filter-item post-price js-filter-show-popup-price"><span>Chọn giá</span> <!----></div>
        <div class="filter-item post-acreage js-filter-show-popup-acreage"><span>Chọn diện tích</span> <!----></div>
        <div class="filter-item submit"><span>Tìm kiếm</span></div>
    </div>
</section>
