@model List<HoiTroWebsite.Models.RoomInfo>
@using HoiTroWebsite.Models2;
@{
    ViewBag.Title = "Quản lý tin đăng";
    Layout = "~/Views/Shared/_UserManagement.cshtml";
}

@section ql_tin_dang_active {active}

@{
    int tat_ca_count = ViewBag.tat_ca_count ?? 0;
    int tin_an_count = ViewBag.tin_an_count ?? 0;
    int duoc_duyet_count = ViewBag.duoc_duyet_count ?? 0;

    //Paginate pager = new Paginate();
    //int pageNo = 0;
    //if (ViewBag.Pager != null)
    //{
    //    pager = ViewBag.Pager;
    //    pageNo = pager.CurrentPage;
    //}
}

<div class="bg-white mb-3 sticky-top z-1">
    <h5 class="m-3">Quản lý tin đăng</h5>
    <ul class="nav nav-tabs ms-3" id="my_tab_post" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="" role="tab" aria-controls="thong-tin-ca-nhan" truong-data="" aria-selected="true">Tất cả (@tat_ca_count)</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="" role="tab" aria-controls="thong-tin-ca-nhan" truong_data="chonDaAn">Tin đã ẩn (@tin_an_count)</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="" role="tab" aria-controls="thong-tin-ca-nhan" truong_data="chonDaDuyet">Tin đã được duyệt (@duoc_duyet_count)</a>
        </li>
    </ul>
</div>
<div class="container">
    <div class="js-list-post row justify-content-center mb-3">
        <div class="col-md-12">
            @*Render dữ liệu từ API controller, Aciton là GetUserPostRooms*@
            @Html.Partial("~/Views/Api_/GetUserPostRooms.cshtml", Model)
            @*<div class="card shadow-sm rounded-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                <div class="rounded overflow-hidden position-relative">
                                    <a href="#!">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/img%20(4).webp" class="w-100">
                                    </a>
                                    <div class="image__count"><i class="fa-fw select-all fas size-12 me-1"></i><span>5</span></div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-5 col-xl-5">
                                <div class="bg-light d-inline text-uppercase p-1" style="font-size: 0.7rem;">Phòng trọ cho thuê</div>
                                <h6>Tìm người ở ghép</h6>
                                <div class="mt-1 mb-0">
                                    <span class="text-success">1.3 triệu/tháng</span>
                                    <span class="text-light"> • </span>
                                    <span>36m<sup>2</sup></span>
                                    <span class="text-light"> • </span>
                                    <span>Quận 7, Thành Phố Hồ Chí Minh<br></span>
                                </div>
                                <div class="mb-2 d-flex column-gap-2">
                                    <div>
                                        <div>Mã tin</div>
                                        27
                                    </div>
                                    <div>
                                        <div>Ngày đăng tin</div>
                                        22:59 11/11/2024
                                    </div>
                                    <div>
                                        <div>Trạng thái</div>
                                        <span class="text-success bg-light rounded p-1" admin-hide="true">Đã duyệt</span>
                                    </div>
                                </div>
                                <span user-hide="true" class="small text-bg-success rounded p-1 d-lg-none">Tin đang hiện</span>
                        </div>
                <div class="border-start col-lg-2 col-xl-2 d-none d-lg-flex d-xl-flex justify-content-center align-items-center">
                    <span user-hide="true" class="small text-bg-success rounded p-1">Tin đang hiện</span>
                </div>
                <div class="col-md-6 col-lg-2 col-xl-2 border-sm-start-none border-start mt-3 mt-md-0 d-flex flex-column justify-content-center">
                    <button data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-outline-success btn-sm" type="button" data-mdb-button-initialized="true">Sửa tin</button>
                        <button class="btn btn-outline-light btn-sm mt-2" type="button">
                                    Ẩn tin
                                </button>
                                <button class="btn btn-outline-danger btn-sm mt-2" type="button">
                                    Xóa tin
                                </button>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>

<div class="js-paging">
    @{
        int pg = 1;
        int recsCount = Model.Count(); //33 items;
        var pager = new Paginate(recsCount, pg, 5);
        int recSkip = (pg - 1) * pager.PageSize; //(3 - 1) * 10;
        Html.RenderPartial("~/Views/Shared/_Paging.cshtml", pager);
    }
</div>
@*<ul class="pagination pagination-danger justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#">
                <span aria-hidden="true"><i class="bi bi-chevron-left"></i>Trang trước</span>
            </a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">
                <span aria-hidden="true">Trang sau<i class="bi bi-chevron-right"></i></span>
            </a>
        </li>
    </ul>*@

@section script {
    <script src="~/Scripts/my-js/hoitro.manage_post.js"></script>
    <script src="~/dist/assets/extensions/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/dist/assets/extensions/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/dist/assets/static/js/pages/datatables.js"></script>
}