@model HoiTroWebsite.Models2.ProfileVM

@{
    Layout = "~/Views/Shared/_UserManagement.cshtml";

}

@section css {
    <style>
        #matKhau, #soDienThoai {
            cursor: pointer;
        }
    </style>
}

@section ql_tai_khoan_active {active}

<div class="bg-white mb-3 sticky-lg-top">
    <h5 class="m-3">Quản lý tài khoản</h5>
    <ul class="nav nav-tabs ms-3" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" data-bs-toggle="tab" href="#thong-tin-ca-nhan" role="tab" aria-controls="thong-tin-ca-nhan" aria-selected="true">Thông tin cá nhân</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#doi-so-dien-thoai" role="tab" aria-controls="doi-so-dien-thoai" aria-selected="false" tabindex="-1">Đổi số điện thoại</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" data-bs-toggle="tab" href="#doi-mat-khau" role="tab" aria-controls="thong-tin-ca-nhan" aria-selected="false" tabindex="-1">Đổi mật khẩu</a>
        </li>
    </ul>
</div>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="thong-tin-ca-nhan" role="tabpanel">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <form class="form form-horizontal">
                    <div class="form-body">
                        <div class="row mb-3 bg-white rounded p-3">
                            <div class="d-flex mb-3 align-items-center">
                                <div class="avatar avatar-xl me-3">
                                    <img src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/11/19/green-screen-wall_1732017322.jpg" alt="" style="object-fit: cover;">
                                </div>
                                <div class="me-3">
                                    <h5 class="mb-0">Võ</h5>
                                    <h6 class="mb-0" style="font-weight: 100;">0369566322</h6>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <span class="fa-fw select-all fas"></span>
                                    Đổi hình đại diện
                                </div>
                                <input class="d-none" type="file" name="avatar" accept="image/png, image/jpeg, image/jpg" />
                            </div>
                            <div class="col-md-4">
                                @*@Html.LabelFor(model => model.Ten_lien_he, "Tiên liên hệ")*@
                                <label for="first-name-horizontal-icon">Tên liên hệ</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input type="text" class="form-control fs-5-5" placeholder="Tên của bạn" id="tenLienHe">
                                        <div class="form-control-icon">
                                            <i class="bi bi-person"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="soDienThoai">Số điện thoại</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input type="number" class="form-control fs-5-5" id="soDienThoai" readonly>
                                        <div class="form-control-icon">
                                            <i class="bi bi-phone"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="linkFacebook">Link facebook</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input type="email" class="form-control fs-5-5" placeholder="Đường dẫn facebook của bạn" id="linkFacebook">
                                        <div class="form-control-icon">
                                            <i class="bi bi-facebook"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input type="email" class="form-control fs-5-5" placeholder="Email" id="email">
                                        <div class="form-control-icon">
                                            <i class="bi bi-envelope"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="matKhau">Mật khẩu</label>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group has-icon-left">
                                    <div class="position-relative">
                                        <input type="password" class="form-control fs-5-5" placeholder="Password" id="matKhau" readonly value="********">
                                        <div class="form-control-icon">
                                            <i class="bi bi-lock"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="col-12 btn btn-primary">Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="doi-so-dien-thoai" role="tabpanel">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <form class="form form-horizontal">
                    <div class="form-body">
                        <div class="row bg-white rounded mb-3">
                            <div class="col-12">
                                <h6 class="my-3">Thay đổi số điện thoại</h6>
                            </div>
                            <div class="col-md-4">
                                <label for="oldNumberPhone">Số điện thoại cũ</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="text" id="oldNumberPhone" class="form-control fs-5-5" name="oldNumberPhone">
                            </div>
                            <div class="col-md-4">
                                <label for="newNumberPhone">Số điện thoại mới</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="text" id="newNumberPhone" class="form-control fs-5-5" name="newNumberPhone">
                            </div>
                            <div class="form-group">
                                <button type="button" class="w-100 btn btn-danger">Lấy mã xác thực</button>
                            </div>
                            <div class="col-md-4">
                                <label for="maXacThuc">Mã xác thực</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="text" id="maXacThuc" class="form-control fs-5-5" name="maXacThuc">
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="col-12 btn btn-primary me-1 mb-1">Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="doi-mat-khau" role="tabpanel">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <form class="form form-horizontal">
                    <div class="form-body">
                        <div class="row bg-white rounded mb-3">
                            <div class="col-12">
                                <h6 class="my-3">Thay đổi mật khẩu</h6>
                            </div>
                            <div class="col-md-4">
                                <label for="oldPassword">Mật khẩu cũ</label>
                            </div>
                            <div class="col-md-8 form-group mb-0">
                                <input type="password" id="oldPassword" class="form-control fs-5-5" name="oldPassword">
                            </div>
                            <div class="offset-md-4">
                                <a class="d-inline-block mt-2 mb-3 text-decoration-underline text-primary fs-7" href="">Bạn quên mật khẩu?</a>
                            </div>
                            <div class="col-md-4">
                                <label for="newPassword">Mật khẩu cũ</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input type="password" id="newPassword" class="form-control fs-5-5" name="newPassword">
                            </div>
                        </div>
                        <div class="row">
                            <button type="submit" class="col-12 btn btn-primary me-1 mb-1">Cập nhật</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section script {
    <script>
        $('#soDienThoai').click(() => {
            $('li a[href="#doi-so-dien-thoai"]').tab('show');
        });
        $('#matKhau').click(() => {
            $('li a[href="#doi-mat-khau"]').tab('show');
        });
    </script>    
}