@model HoiTroWebsite.Models.Footer

@{
    ViewBag.Title = "Quy định sử dụng";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="left-content">
                <div class="container">
                    @Html.Raw(Model.TermsOfUseLink)
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="right-content">
                @{
                    Html.RenderAction("GetMiniNews", "MainPartial");
                    Html.RenderAction("GetLatestRoomList", "MainPartial");
                }
            </div>
        </div>

    </div>
</div>