@{
    ViewBag.Title = "Cho thuê, tìm người ở ghép";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@model List<HoiTroWebsite.Models.RoomInfo>

<div class="container">
    <div class="row">

        <!-- danh sách phòng -->
        <div class="col-8 pr-2">
            <div class="left-content">
                <section class="category-section">
                    <div class="category-title h4">
                        <a href="javascript:void(0);">Tổng @Model.Count kết quả</a>
                    </div>
                    <ul class="post-list">
                        @{
                            ViewBag.meta = "cho-thue";
                            Html.RenderPartial("GetListRoomInfo", Model);
                        }
                    </ul>
                </section>
            </div>
        </div>

        <!-- phần bên phải -->
        <div class="col-4 pl-2">
            <div class="right-content">

                @{ Html.RenderAction("GetMiniNews", "MainPartial"); }

            </div>
        </div>

    </div>
</div>




@*<div class="our_room">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>@Model.title</h2>
                        <p>Lorem Ipsum available, but the majority have suffered </p>
                    </div>
                </div>
            </div>
            <div class="row">
                @Html.Action("getInfor", "HomePage", new { id = Model.id, metatitle = "phong-tro" })
            </div>
        </div>
    </div>*@