@model IEnumerable<HoiTroWebsite.Models.Banner>

<section class="banner_main">
    <div id="myCarousel" class="carousel slide banner" data-bs-ride="carousel">
        @{ int j = 0; }
        <ol class="carousel-indicators">
            @foreach (var i in Model)
            {
                <li data-bs-target="#myCarousel" data-bs-slide-to="@j" class="@(j == 0 ? "active" : "")"></li>
                j++;
            }
        </ol>
        @{ j = 0; }
        <div class="carousel-inner">
            @foreach (var i in Model)
            {
                <div class="carousel-item @(j == 0 ? "active" : "")">
                    <img class="d-block w-100" src="~/Content/images/@i.file_name" alt="Slide @j">
                </div>
                j++;
            }
        </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>

    <div class="booking_ocline">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="book_room">
                        <h1>Book a Room Online</h1>
                        <form class="book_now">
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <label for="arrival" class="form-label">Arrival</label>
                                    <div class="input-group">
                                        <img class="date_cua me-2" src="~/Content/images/date.png" alt="Date Icon">
                                        <input id="arrival" class="form-control" type="date" name="arrival" placeholder="dd/mm/yyyy">
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="departure" class="form-label">Departure</label>
                                    <div class="input-group">
                                        <img class="date_cua me-2" src="~/Content/images/date.png" alt="Date Icon">
                                        <input id="departure" class="form-control" type="date" name="departure" placeholder="dd/mm/yyyy">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-primary w-100">Book Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
