@model List<HoiTroWebsite.Models.NewsViewModel>

    @foreach (var i in Model)
    {
        <div class="col-md-4">
            <div class="blog_box">
                <div class="blog_img">
                    <figure><img src="@i.ImagePath" alt="#" /></figure>
                </div>
                <div class="blog_room" style="font-family:'Times New Roman';">
                    <a href="/@ViewBag.meta/@i.Meta/@i.ID">@i.Title</a>
                    <span>@i.Author </span>
                    <p style="font-style:italic">@Html.DisplayFor(modelItem => i.BriefDescription)</p>
                </div>
            </div>
        </div>
    }
