@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!-- thanh tìm kiếm -->
<div id="search-bar">
    @{ Html.RenderAction("GetSearchBar", "MainPartial"); }
</div>
<!-- kết thúc thanh tìm kiếm -->

<!-- banner -->
@{ Html.RenderAction("getBanner", "HomePage"); }
<!-- end banner -->

<!-- nội dung chính -->
<div class="container">
    <div class="row">

        <!-- danh sách phòng -->
        <div class="col-8 pr-2">
            <div class="left-content">
                <!--room information-->
                @{ Html.RenderAction("GetRoomType", "HomePage"); }
                <!--end room information-->
            </div>            
        </div>

        <!-- phần bên phải -->
        <div class="col-4 pl-2">
            <div class="right-content">
                @{ Html.RenderAction("GetMiniNews", "MainPartial"); }
            </div>            
        </div>

    </div>
</div>
<!-- kết thúc nội dung -->

<div class="blog">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Tin tức</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
        <div class="row">
            <!-- phần bên trái -->
            <div class="col-8">
                <!--news-->
                @{ Html.RenderAction("getNewsType", "HomePage"); }
                <!--end news-->
            </div>
        </div>
    </div>
</div>

<!--  contact -->
@{ Html.RenderAction("getContact", "HomePage"); }
<!--end contact-->