
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div><a href="dang-ky">dang ky</a></div>
<div><a href="dang-nhap">dang nhap</a></div>
<div><a href="dang-tin-moi">dang tin moi</a></div>
<!-- banner -->
@{ Html.RenderAction("getBanner", "HomePage"); }
<!-- end banner -->
<!--room information-->
@{ Html.RenderAction("getRoomType", "HomePage"); }
<!--end room information-->
<!--news-->
@{ Html.RenderAction("getNewsType", "HomePage"); }
<!--end news-->
<!--  contact -->
@{ Html.RenderAction("getContact", "HomePage"); }
<!--end contact-->