@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<!-- thanh tìm kiếm -->
<div id="search-bar">
    @{ Html.RenderAction("GetSearchBar", "MainPartial"); }
</div>
<!-- kết thúc thanh tìm kiếm -->

<!-- banner -->
@{ Html.RenderAction("getBanner", "HomePage"); }
<!-- end banner -->

<!-- nội dung chính -->
<div class="container">
    <div class="row">

        <!-- danh sách phòng -->
        <div class="col-8 pr-2">
            <div class="left-content">
                <!--room information-->
                @{ Html.RenderAction("GetRoomType", "HomePage"); }
                <!--end room information-->
            </div>            
        </div>

        <!-- phần bên phải -->
        <div class="col-4 pl-2">
            <div class="right-content">
                @{ Html.RenderAction("GetMiniNews", "MainPartial"); }
            </div>            
        </div>

    </div>
</div>
<!-- kết thúc nội dung chính -->

<!-- phần tin tức -->
<div class="blog">
    <div class="container">
        <div class="titlepage">
            <a href="/tin-tuc"><h2>Góc tin tức</h2></a>
            <p>Hãy luôn xem các tin tức để biết thêm về thị trường</p>
        </div>
        <div class="blog-content">
            
            @{ Html.RenderAction("GetNews", "HomePage", new RouteValueDictionary { { "id", null }, { "metatitle", null } }); }

        </div>

        @*@{ Html.RenderAction("getNewsType", "HomePage"); }*@

    </div>
</div>
<!-- kết thúc phần tin tức -->

<!--  contact -->
@{ Html.RenderAction("getContact", "HomePage"); }
<!-- end contact-->