
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<div class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>@Model.title</h2>
                    <p>Lorem Ipsum available, but the majority have suffered </p>
                </div>
            </div>
        </div>
        <div class="row">
            @Html.Action("getNews", "HomePage", new { id = Model.id, metatitle = "tin-tuc" })
        </div>
    </div>

</div>
