@model List<HoiTroWebsite.Models.News>

@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@{ 
    string new_img_path = "";
    string file_name = "";
}

<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/trang-chu">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
        </ol>
    </nav>

    <div class="blog-header">
        Tin tức thị trường, chia sẻ kinh nghiệm, bất động sản
    </div>

    <div class="row">

        <div class="col-8">
            <div class="left-content">
                <section class="section section-aside-tinmoidang">
                    <ul class="blog-listing clearfix">
                        @foreach (var i in Model)
                        {
                            new_img_path = i.imagePath ?? "/Content/images/default-news.jpg";
                            file_name = i.file_name ?? "default-news.jpg";
                            <li class="article-item clearfix">
                                <a href="/tin-tuc/@i.meta/@i.id">
                                    <figure>
                                        <img class="lazy_done"
                                             src="@new_img_path" alt="@file_name"
                                             data-loaded="true">
                                    </figure>
                                    <div class="article-meta">
                                        <h6 class="article-title">
                                            @i.title
                                        </h6>
                                        <p class="article-summary">
                                            @Html.Raw(i.brief_description.Length > 200 ? i.brief_description.Substring(0, 200).Trim() + "..." : i.brief_description)
                                        </p>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </section>
            </div>
        </div>

        <div class="col-4">
            <div class="right-content">
                @{ Html.RenderAction("GetMiniNews", "MainPartial"); }
            </div>
        </div>

    </div>
</div>

@*
    template tin tức trong trang
        <li class="article-item clearfix">
        <a href="/tien-dat-coc-thue-phong-tro-co-lay-lai-duoc-khong.html">
            <figure>
                <img class="lazy_done"
                     src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/07/11/tien-coc-thue-tro-co-lay-lai-duoc-khong_1720661417.jpg"
                     data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/07/11/tien-coc-thue-tro-co-lay-lai-duoc-khong_1720661417.jpg"
                     data-loaded="true">
            </figure>
            <div class="article-meta">
                <h6 class="article-title">
                    Tiền đặt cọc thuê phòng trọ có lấy lại được không?
                </h6>
                <p class="article-summary">
                    Tiền cọc thuê trọ có lấy lại được không?Team tư
                    vấn/CSKH Phongtro123 trả lời:Chào Hà Vy, cảm ơn bạn đã tin tưởng và gửi yêu
                    cầu tư vấn đến…
                </p>
            </div>
        </a>
    </li>
*@