:root {
    --black--color: #070e13;
    --red-color: #fe0000;
    --img-vip0-w: 210px;
    --img-vip0-h: 180px;
}

.page-header {
  margin-bottom: 15px;
}
.page-h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0 0 5px;
}

/* content */
.content {
    margin-top: 20px;
}

/* đăng nhập, đăng ký, đăng tin */
.user-welcome {
    float: right;
    display: inline-block;
    align-items: center;
}

    .user-welcome .welcome-text,
    .user-welcome .config-dropdown {
        display: inline-block;
    }

        .user-welcome .config-dropdown .config-dropdown-menu {
            top: 40px;
        }

    .user-welcome .welcome-text {
        margin-right: 50px;
        display: inline-flex;
        align-items: center;
        color: #333;
    }

    .user-welcome .btn {
        background-color: transparent;
        margin-right: 5px;
        border: 0;
        color: #333;
        font-weight: normal;
        cursor: pointer;
        position: relative;
    }

        .user-welcome .btn .number-count {
            position: absolute;
            left: 18px;
            top: 0;
            padding: 0 4px;
            height: 16px;
            background-color: #e4012b;
            color: #fff;
            font-size: .7rem;
            border-radius: 22px;
            line-height: 16px;
        }

        .user-welcome .btn .arrow-down {
            width: 10px;
            height: 10px;
        }

        .user-welcome .btn.btn-add-post {
            width: auto;
            background: #070e13;
            /*            border: 2px solid #febb02;*/
            color: #fff;
            margin-right: 0;
            margin-left: 10px;
        }

            .user-welcome .btn.btn-add-post i {
                background: url(../images/add-white.svg) center no-repeat;
                background-size: contain;
                margin-right: 5px;
            }

    .user-welcome .config-dropdown-menu {
        min-width: 200px;
    }

        .user-welcome .config-dropdown-menu .config-dropdown-menu-item {
            text-decoration: none;
            padding: 10px 0;
            border-bottom: 1px solid #eee;
        }

        .user-welcome .config-dropdown-menu > li:last-of-type .config-dropdown-menu-item {
            border-bottom: 0;
        }

        .user-welcome .config-dropdown-menu .config-dropdown-menu-item:hover {
            color: #f60;
        }

    .user-welcome .config-dropdown-menu-item i {
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }

    .user-welcome .config-dropdown-menu-item.dang-tin i {
        background: url(../images/dashboard-add-post.svg) center no-repeat;
        background-size: contain;
    }

    .user-welcome .config-dropdown-menu-item.quan-ly-tin-dang i {
        background: url(../images/dashboard-manage-post.svg) center no-repeat;
        background-size: contain;
    }

    .user-welcome .config-dropdown-menu-item.nap-tien i {
        background: url(../images/dashboard-payment.svg) center no-repeat;
        background-size: contain;
    }

    .user-welcome .config-dropdown-menu-item.lich-su-nap-tien i {
        background: url(../images/dashboard-payment-history.svg) center no-repeat;
        background-size: contain;
    }

    .user-welcome .config-dropdown-menu-item.thong-tin-ca-nhan i {
        background: url(../images/dashboard-user.svg) center no-repeat;
        background-size: contain;
    }

    .user-welcome .config-dropdown-menu-item.tin-da-luu i {
        background: url(../images/dashboard-post-saved.svg) center no-repeat;
        background-size: contain;
    }

    .user-welcome .config-dropdown-menu-item.thoat i {
        background: url(../images/dashboard-logout.svg) center no-repeat;
        background-size: contain;
    }

    .user-welcome .config-dropdown-menu-item.quay-lai i {
        background: url(../images/dashboard-logout.svg) center no-repeat;
        background-size: contain;
    }

    .config-dropdown {
  position: relative;
  display: inline-block;
}
.config-dropdown .config-dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  box-shadow: 0 0 20px rgb(75 75 75 / 30%);
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  z-index: 9;
}
.config-dropdown.open .config-dropdown-menu {
  display: block;
}
.config-dropdown .config-dropdown-menu a {
  display: flex;
  width: 100%;
  white-space: nowrap;
  align-items: center;
  padding: 5px;
}
.btn.complete {
  background: #16c784;
  border-color: #16c784;
}
.btn.back {
  background: #f1f1f1;
  border-color: #f1f1f1;
  color: #333;
}
.btn.red {
  background: #f73859;
  border-color: #f73859;
}
.btn.btn-outline {
  background: #fff;
  border-color: #007aff;
  color: #007aff;
}
.btn i {
  width: 16px;
  height: 16px;
  display: inline-block;
}
.btn.next i {
  background: url(../images/right-arrow-white.svg) center no-repeat;
  background-size: contain;
  margin-left: 5px;
}
.btn.complete i {
  background: url(../images/check-mark-white.svg) center no-repeat;
  background-size: contain;
  margin-left: 6px;
}
.btn.btn-report i {
  background: url(../images/mobile/report-flag.svg) center no-repeat;
  background-size: contain;
  margin-right: 5px;
}
.btn .arrow-down {
  background: url(../images/down-arrow-white.svg) center no-repeat;
  background-size: contain;
  margin-left: 5px;
}
.btn.btn-block {
    width: 100% !important;
}
.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
}
.icon.size-18 {
    width: 18px !important;
    height: 18px !important;
}
.icon.discount {
    background: url(../images/discount.svg) center no-repeat;
    background-size: contain;
}
.icon.heart {
    background: url(../images/uicon-heart.svg) center no-repeat;
    background-size: contain;
}
.icon.register {
    background: url(../images/uicon-user-add.svg) center no-repeat;
    background-size: contain;
}
.icon.login {
    background: url(../images/uicon-sign-in-alt.svg) center no-repeat;
    background-size: contain;
}
.icon.dashboard {
    background: url(../images/uicon-dashboard.svg) center no-repeat;
    background-size: contain;
}

/* hover <a> của phần main content */
.section.section-sublink .list-links a:hover {
    color: #c3073f;
}

/*  */

.header {
    height: 70px;
}

#menu-bar {
    height: 54px;
    position: sticky;
    top: 0;
    z-index: 10;
    margin-top: 3px;
    overflow: visible;
}

.navigation.navbar-dark .navbar-nav .nav-item:hover,
.navigation.navbar-dark .navbar-nav .nav-item:focus {
    background-color: var(--black--color);
}

.navigation.navbar-dark .navbar-nav>.nav-item.active {
    background-color: var(--black--color);
}

.navigation.navbar-dark {
    background-color: var(--red-color);
}

/* .navbar-collapse.collapse.show {
    background-color: #a2a0a0;   
} */

.my-dropdown {
    overflow: hidden;
}

.my-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 9, 9, 0.2);
}

.my-dropdown-content .my-dropdown-item {
    display: block;
    text-align: left;
    padding: 3px 10px;
    border-bottom: 2px solid #fe0000;
}

.my-dropdown-content a:hover {
    background-color: var(--black--color);
    color: #fff;
    outline: 1px solid var(--black--color);
}

.my-dropdown:hover .my-dropdown-content {
    display: block;
}

/* List phòng trọ */

.left-content, .right-content section {
    border: 1px solid #dedede;
    box-sizing: border-box;
    background-color: #fff
}

.left-content {
    border-radius: 8px;
}

.right-content {
/*    position: sticky;
    top: 60px;*/
}

.category-section {
    border-bottom: 1px solid #dedede;
    padding-top: 20px;
}

.category-section .category-title {
    position: relative;
    text-transform: uppercase;
    padding-left: 18px;
}

.category-section .category-title a::before {
    position: absolute;
    left: 5px;
    content: "";
    background-color: #ff0909;
    width: 20px;
    height: 4px;
    transform: rotate(-36deg);
}

.category-section .category-title a::after {
    position: relative;
    content: "";
    background-color: #ff0909;
    width: 20px;
    height: 4px;
    transform: rotate(-36deg);
    clear: both;
    display: inline-block;
}

.post-list .post-item.vipnoibat {
    z-index: 5;
    background-color: #fff9f3;
/*    margin-left: -20px;
    margin-right: -20px;*/
    padding: 5px 10px 10px 10px;
}

.post-list .post-item {
    display: flex;
    padding: 15px 0;
    border-top: 1px solid #ddd;
    margin: 0px;
    background-color: #fff;
    z-index: 0;
    position: relative;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-item.post-vip .post-thumb {
    width: var(--img-vip0-w);
    height: var(--img-vip0-h);
    margin: 0px;
    position: relative;
}

.post-list .post-item .images-number {
    position: absolute;
    line-height: 1;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, .5);
    padding: 3px;
    color: #fff;
    border-radius: 3px;
    font-size: .7rem;
}

.post-list .post-item .post-save {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
}

.post-list .post-item .post-meta {
    margin-left: 15px;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

.post-list .post-item .post-title {
    font-size: 0.9rem;
    /* line-height: 1.5; */
    font-weight: 700;
    display: block;
    white-space: normal;
    /* margin: 0 0 10px; */
    margin: 0px 0px 5px 0px;
}

.post-list .post-item .meta-row {
    margin-bottom: 10px;
}

.post-list .post-item .post-price {
    font-size: 1rem;
    font-weight: 700;
    color: #16c784;
}

.post-list .post-item .post-acreage,
.post-list .post-item .post-location,
.post-list .post-item .post-price,
.post-list .post-item .post-summary,
.post-list .post-item .post-time {
    float: left;
    margin-right: 20px;
    color: #333;
    line-height: 19px;
}

.post-list .post-item .post-time {
    float: right;
    margin-right: 0;
    color: #aaa;
    line-height: 19px;
    font-size: .9rem;
}

.post-list .post-item .post-summary {
    margin: 10px 0 0;
    color: #8a8d91;
    float: none;
}

.post-list .post-item .meta-row:last-of-type {
    margin-bottom: 0;
}

.post-list .post-item .post-author {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    color: #8a8d91;
}

.post-list .post-item .post-author img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;
}

.post-list .post-item .btn-quick-zalo {
    display: inline-block;
    padding: 3px 7px;
    border-radius: 5px;
    border: 1px solid #1266dd;
    color: #1266dd;
    cursor: pointer;
    margin-left: 5px;
    /* float: right; */
}

.post-list .post-item .btn-quick-call {
    display: inline-block;
    padding: 3px 7px;
    border-radius: 5px;
    border: 1px solid #1266dd;
    background-color: #1266dd;
    color: #fff;
    cursor: pointer;
    /* float: right; */
}

.post-list .post-item .btn-quick-call:hover,
.post-list .post-item .btn-quick-zalo:hover {
    background-color: #1266dd;
    color: #fff;
}

.post-list.grid {
    padding-top: 0;
    padding-bottom: 10px;
    background-color: #fff;
}

    .post-list.grid::-webkit-scrollbar {
        display: none;
    }

    .post-list.grid .inner {
        display: flex;
        flex-wrap: wrap;
    }

    .post-list.grid .post-item {
        width: 50%;
        margin-top: 10px;
        margin-right: 0;
        padding: 10px;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        margin-left: 0;
        display: inline-flex;
    }

        .post-list.grid .post-item:nth-of-type(1),
        .post-list.grid .post-item:nth-of-type(2) {
            margin-top: 0;
        }

        .post-list.grid .post-item:nth-of-type(2n) {
            margin-right: 0;
        }

        .post-list.grid .post-item .post-location,
        .post-list.grid .post-item .post-summary,
        .post-list.grid .post-item .post-time {
            float: none;
            display: block;
            font-size: 0.95rem;
        }

        .post-list.grid .post-item .post-acreage {
            line-height: 19px;
        }

.post-list.aside .post-item {
    padding: 10px 0;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
}

    .post-list.aside .post-item a {
        display: flex;
    }

    .post-list.aside .post-item:last-of-type {
        border-bottom: 0;
    }

    .post-list.aside .post-item figure {
        width: 65px;
        height: 65px;
        margin: 0 !important;
    }
    .post-list.aside .post-item .post-meta {
/*        width: calc(100% - 65px);*/
    }

    .post-list.aside .post-item .post-price {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .post-list.aside .post-item .post-title {
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.3;
    }

    .post-list.aside .post-item.vipnoibat .post-title {
        padding-right: 22px;
    }

    .post-list.aside .post-item .post-time {
        font-size: 0.9rem;
        margin-bottom: 0;
    }

/*  */

.clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* bài viết mới, quan tâm */

.section {
    margin-bottom: 20px;
    margin-left: 5px;
    padding: 15px 10px 20px 15px;
    background-color: #fff;
/*    border: 1px solid #dedede;*/
    border-radius: 8px;
}

.section .section-header {
    margin-top: 0;
    margin-bottom: 15px;
}

.section .section-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.list-links>li::before {
    display: inline-block;
    color: var(--red-color);
    font-size: 10px;
    content: "\25b6";
    position: absolute;
    top: 5px;
    left: 0px;
    opacity: .7;
}

.list-links>li {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px dashed #eee;
}

.list-links>li a {
    padding: 5px 0px;
    display: inline-flex;
    align-items: center;
    color: #333;
    width: 100%;
    line-height: 1.2;
    font-size: 0.9rem;
    font-weight: 400;
}

.clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/* tin tức */
.blog-header {
    background: #fff;
    border: 1px solid #dedede;
    position: relative;
    text-transform: uppercase;
    padding: 10px 10px 10px 25px;
    font-size: 22px;
    color: #222;
    margin-bottom: 15px;
    border-radius: 8px;
}

.blog-header::before {
    position: absolute;
    left: 5px;
    top: 10px;
    content: "";
    background-color: #ff0909;
    width: 20px;
    height: 4px;
    transform: rotate(-36deg);
}

.blog-header::after {
    position: absolute;
    bottom: 10px;
    content: "";
    background-color: #ff0909;
    width: 20px;
    height: 4px;
    transform: rotate(-36deg);
    clear: both;
}

.blog-listing .article-item>a {
    display: flex;
    align-items: center;
    padding: 10px 0;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #eee;
}

.blog-listing .article-item:last-of-type>a {
    border-bottom: 0;
}

.blog-listing .article-item figure {
    width: 140px;
    height: 140px;
    margin: 0px;
}

.blog-listing .article-item figure img {
    border-radius: 8px;
}

.blog-listing .article-item .article-meta {
    margin-left: 15px;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

.blog-listing .article-item .article-title {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.3;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #055699;
    padding-right: 10px;
}

.blog-listing .article-item .article-summary {
    color: #8a8d91;
    font-size: 0.9rem;
}

.blog-listing.aside .article-item figure {
    width: 70px;
    height: 70px;
}

.blog-listing.aside .article-item .article-title {
    font-size: 1.1rem;
}

.the-article {
    margin-bottom: 50px;
    font-size: 1.2rem !important;
    line-height: 1.5;
/*    border: 1px solid #dedede;*/
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.the-article .article-summary {
    font-style: italic;
    margin-bottom: 15px;
}

.the-article .article-summary p {
    line-height: 1.8;
}

.the-article .article-summary *:first-child {
    margin-top: 0;
    padding-top: 0;
}

.the-article .article-summary *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

.the-article .article-main-content *:first-child {
    margin-top: 0;
    padding-top: 0;
}

.the-article .article-main-content h4 {
    font-size: 1.3rem;
    line-height: 1.4;
}

.the-article .article-main-content h3 {
    font-size: 1.5rem;
    line-height: 1.3;
}

.the-article .article-main-content h2 {
    font-size: 1.7rem;
    line-height: 1.3;
}

.the-article .article-main-content img {
    margin: 0 auto;
    display: block;
}

.the-article .article-main-content figure {
    background: transparent;
}

.the-article .article-main-content figcaption {
    margin: 10px;
    font-size: 1rem;
    color: #666;
}

.the-article .article-main-content ul {
    margin-left: 25px;
}

.the-article .article-main-content ul li {
    list-style-type: square;
}

/* blog trong trang chủ */

/*html {
    background: #f5f7f8;
    font-family: system-ui;
    -webkit-font-smoothing: antialiased;
    padding: 20px 0;
}*/

/*header {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
}*/

.blog-content {
/*    background: #f5f7f8;*/
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media (min-width: 30em) {
    .blog-content {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 60em) {
    .blog-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

.blog-card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 15px rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
    border-radius: 8px;
}

    .blog-card:hover {
        color: #444;
        top: -2px;
        box-shadow: 0 4px 15px rgba(255, 255, 255, 0.9);
    }

    .blog-card article {
        padding: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .blog-card h1, .blog-card p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .blog-card h1 {
        font-size: 20px;
        padding-bottom: 0px;
        font-weight: bold;
        margin: 0;
        color: #333;
        -webkit-line-clamp: 3;
    }

    .blog-card p {
        flex: 1;
        line-height: 1.4;
        -webkit-line-clamp: 5;
    }

    .blog-card span {
        font-size: 12px;
        font-weight: bold;
        color: #999;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        margin: 2em 0 0 0;
    }

    .blog-card .blog-thumb {
        padding-bottom: 60%;
        background-size: cover;
        background-position: center center;
    }

    .blog-card .blog-thumb:hover {
        transform: scale(1.1);
        transition: all 0.5s;
    }

    .blog-card .blog-container-img {
        overflow: hidden;
        border-radius: 8px 8px 0px 0px;
    }

@media (min-width: 60em) {
    .blog-content .blog-item:nth-child(1) {
        grid-column: 1/span 2;
    }

        .blog-content .blog-item:nth-child(1) h1 {
            font-size: 24px;
            -webkit-line-clamp: 2;
        }

        .blog-content .blog-item:nth-child(1) p {
            -webkit-line-clamp: 3;
        }

    .blog-content .blog-item:nth-child(2) .blog-card p, .blog-content .blog-item:nth-child(3) p {
        -webkit-line-clamp: 9;
    }

    .blog-content .blog-item:nth-child(2) .blog-card span, .blog-content .blog-item:nth-child(3) span {
        margin-top: 45px;
    }
}

/* breadcrumb config */

.breadcrumb {
    background-color: inherit;
    margin-bottom: 0px;
}

.breadcrumb-item + .breadcrumb-item::before {
    position: relative;
    top: 2px;
    content: "\25b6";
    font-size: 0.7rem;
    color: #c3073f;
}

/* FILTER TOP */

#filter-top {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #febb02;
    padding: 10px;
    margin-bottom: 20px;
    height: 100%;
    border-radius: 8px;
    width: 1080px;
    margin: 10px auto;
    z-index: -1;
}

#filter-top .filter-body {
    display: flex;
    align-content: center;
}

#filter-top .filter-item {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 35px;
    margin: 0 3px;
    padding: 0;
    position: relative;
    cursor: pointer;
}

#filter-top .filter-item:hover {
    box-shadow: 0 0 10px 1px rgb(0 0 0 / 10%);
}

#filter-top .filter-item:before {
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    background: url(../images/location-icon.svg) center no-repeat;
    background-size: contain;
    position: absolute;
    left: 5px;
    pointer-events: none;
}

#filter-top .filter-item.post-estate-type:before {
    background: url(../images/building-icon.svg) center no-repeat;
    background-size: contain;
}

#filter-top .filter-item.post-project:before {
    background: url(../images/building-icon.svg) center no-repeat;
    background-size: contain;
}

#filter-top .filter-item.post-price:before {
    background: url(../images/price-icon.svg) center no-repeat;
    background-size: contain;
}

#filter-top .filter-item.post-acreage:before {
    background: url(../images/acreage-icon.svg) center no-repeat;
    background-size: contain;
}

#filter-top .filter-item.submit:before {
    background: url(../images/search-white-icon.svg) center no-repeat;
    background-size: contain;
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
}

#filter-top .filter-item:after {
    display: block;
    width: 10px;
    height: 10px;
    content: "";
    background: url(../images/arrow-right.svg) center no-repeat;
    background-size: contain;
    position: absolute;
    right: 5px;
    pointer-events: none;
}

#filter-top .filter-item.active:after,
#filter-top .filter-item.submit:after {
    display: none;
}

#filter-top .filter-item span {
    font-size: 0.95rem;
    align-items: center;
    padding: 10px 30px 10px 22px;
    white-space: nowrap;
    display: flex;
    height: 100%;
    width: 100%;
    color: #777;
}

#filter-top .filter-item.active span {
    font-weight: bold;
    color: #000;
    max-width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#filter-top .filter-item .delete-item {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url(../images/mobile/delete-filter-item.svg) center no-repeat;
    background-size: 12px 12px;
    position: absolute;
    right: 0px;
    padding: 0;
}

#filter-top .filter-item:last-of-type {
    margin-bottom: 0;
}

#filter-top .filter-item.submit {
    background-color: var(--red-color);
    border: 1px solid var(--red-color);
    color: #fff;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

#filter-top .filter-item.submit:active {
    background-color: #005999;
    border: 1px solid #005999;
}

#filter-top .filter-item.submit:focus {
    background-color: #005999;
    border: 1px solid #005999;
}

#filter-top .filter-item.submit span {
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
    color: #fff;
}

.filter-popup {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: #fff;
    overflow: hidden;
    width: 700px;
    max-height: 500px;
    margin: 0 auto;
    border-radius: 8px;
}

.black_overlay {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

body.show-filter-popup,
body.show-filter-popup .black_overlay,
.filter-popup.show {
    display: block;
}

.filter-popup .filter-popup-header {
    height: 45px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    padding: 0 40px;
}

.filter-popup .filter-popup-header .popup-close {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background: url(../images/mobile/left-arrow.svg) center no-repeat;
    background-size: 50%;
    text-indent: -999999px;
    cursor: pointer;
}

.filter-popup .filter-search-key {
    width: 100%;
    margin-bottom: 10px;
}

.filter-popup .filter-search-key input.search-key-input {
    width: 100%;
    padding: 10px;
    border: 0;
    background: #f1f1f1;
    border-radius: 5px;
    font-size: 1.5rem;
}

.filter-popup .filter-popup-content {
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 10px 25px;
}

.filter-popup.has-footer .filter-popup-content {
    width: 100%;
    height: calc(100% - 40px - 50px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 10px 25px;
}

.filter-popup .filter-popup-footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-popup .filter-popup-footer .filter-btn-bottom {
    width: 100%;
    height: 100%;
    background-color: orange;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.filter-popup .filter-list-option ul>li {
    padding: 12px 10px 12px 25px;
    border-bottom: 1px solid #ddd;
    font-size: 1.1rem;
    position: relative;
    cursor: pointer;
}

.filter-popup .filter-list-option ul>li:hover {
    color: #007aff;
}

.filter-popup .filter-list-option ul>li.selected {
    font-weight: bold;
    color: #007aff;
}

.filter-popup .filter-list-option ul>li.has-sub:after {
    background: url(../images/mobile/arrow-right.svg) center no-repeat;
    background-size: contain;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -5px;
    display: block;
    content: "";
}

.filter-popup .filter-list-option ul>li:before {
    background: url(../images/cirlcle-rec.svg) center no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -8px;
    display: block;
    content: "";
    opacity: 0.45;
}

.filter-popup .filter-list-option ul>li.selected:before {
    background: url(../images/cirlcle-rec-active.svg) center no-repeat;
    background-size: contain;
    opacity: 1;
}

.ui-draggable,
.ui-droppable {
    background-position: top;
}

.ui-slider .ui-slider-handle {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -0.6em;
    margin-left: -1em;
}

.bds-ranger {
    /* padding: 10px; */
}

.bds-ranger .custom-list-ranger li {
    padding: 5px 15px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    border: 1px solid #f1f1f1;
    cursor: pointer;
}

.bds-ranger .custom-list-ranger li.selected {
    border: 1px solid #007aff;
    background-color: #007aff;
    color: #fff;
}

.filter-popup .vue-slider-process {
    background-color: #f60;
}

.filter-popup .vue-slider-dot {
    width: 30px !important;
    height: 30px !important;
}

.filter-popup .vue-slider-dot-tooltip {
    display: none !important;
}

.filter-popup .vue-slider-ltr .vue-slider-mark-label,
.filter-popup .vue-slider-rtl .vue-slider-mark-label {
    margin-top: 15px;
}

.filter-popup .filter-block {
    margin-top: 10px;
    margin-bottom: 30px;
}

.filter-popup .filter-block-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.filter-option-group-horizontal li {
    float: left;
    margin: 5px 0;
    margin-right: 10px;
}

.filter-option-group-horizontal li span {
    background-color: #f1f1f1;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    border: 1px solid #f1f1f1;
}

.filter-option-group-horizontal li.active span {
    color: #fff;
    border-color: #007aff;
    background-color: #007aff;
    font-weight: normal;
}

.icon.size-25 {
    width: 25px !important;
    height: 25px !important;
}

.icon.faq {
    background: url(../images/i-faq.svg) center no-repeat;
    background-size: contain;
}

.section_faq {
    background-color: #fff;
    box-shadow: rgb(88 102 126 / 20%) 0px 0px 2px;
    padding: 0;
}

.section_faq .header {
    padding: 10px 20px;
    background-color: #f1f1f1;
    color: #000;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.section_faq .header .title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
}

.section_faq .body {
    padding: 20px;
}

.accordion__list .accordion__item {
    border-top: 1px solid #ddd;
    padding: 12px 0;
}

.accordion__list .accordion__item:first-of-type {
    border-top: 0;
}

.accordion__list .accordion__item .accordion__header {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--tch-main-color);
    margin: 0;
    display: flex;
    align-items: center;
}

.accordion__list .accordion__item .accordion__header::after {
    content: "";
    display: inline-block;
    background: url(../images/chevron-down.svg) center no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
    margin-left: 5px;
}

.accordion__list .accordion__item .accordion__header.active::after {
    transform: rotate(180deg);
}

.accordion__list .accordion__item .accordion__body {
    display: none;
    padding: 10px 0;
}

.accordion__list .accordion__item .accordion__body.show {
    display: block;
}

.accordion__list .accordion__item .accordion__body ol,
.accordion__list .accordion__item .accordion__body ul {
    padding-left: 20px;
}

.accordion__list .accordion__item .accordion__body ul>li {
    list-style-type: disc;
}

.accordion__list .accordion__item .accordion__body ol>li {
    list-style-type: decimal;
}

/* phần hỗ trợ */

.single_advisor_profile {
    position: relative;
    margin-bottom: 50px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 1;
    border-radius: 15px;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(255, 9, 9, 0.125);
    box-shadow: 0 0.25rem 1rem 0 rgba(255, 9, 9, 0.125);
}

    .single_advisor_profile .advisor_thumb {
        position: relative;
        z-index: 1;
        border-radius: 15px 15px 0 0;
        margin: 0 auto;
        padding: 30px 30px 0 30px;
        background-color: #fe0000;
        overflow: hidden;
    }

    .single_advisor_profile .advisor_thumb img {
        border-radius: 10px;
    }

    .single_advisor_profile:hover .advisor_thumb img {
        transition: all 0.5s;
        transform: scale(1.1);
    }

        .single_advisor_profile .advisor_thumb::after {
            transition-duration: 500ms;
            position: absolute;
            width: 150%;
            height: 80px;
            bottom: -45px;
            left: -25%;
            content: "";
            background-color: #ffffff;
            transform: rotate(-15deg);
        }

@media only screen and (max-width: 575px) {
    .single_advisor_profile .advisor_thumb::after {
        height: 160px;
        bottom: -90px;
    }
}

.single_advisor_profile .advisor_thumb .social-info {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    right: 15px;
    text-align: right;
}

    .single_advisor_profile .advisor_thumb .social-info a {
        font-size: 14px;
        color: #020710;
        padding: 0 5px;
    }

        .single_advisor_profile .advisor_thumb .social-info a:hover,
        .single_advisor_profile .advisor_thumb .social-info a:focus {
            color: #3f43fd;
        }

        .single_advisor_profile .advisor_thumb .social-info a:last-child {
            padding-right: 0;
        }

.single_advisor_profile .single_advisor_details_info {
    position: relative;
    z-index: 1;
    padding: 15px;
    text-align: right;
    transition-duration: 500ms;
    border-radius: 0 0 15px 15px;
    background-color: #ffffff;
}

    .single_advisor_profile .single_advisor_details_info::after {
        transition-duration: 500ms;
        position: absolute;
        z-index: 1;
        width: 110px;
        height: 3px;
        background-color: #3f43fd;
        content: "";
        top: 0px;
        right: 15px;
    }

    .single_advisor_profile .single_advisor_details_info h6 {
        transition-duration: 500ms;
        font-size: 1rem;
    }

    .single_advisor_profile .single_advisor_details_info .support-task {
        height: 3lh;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-align: start;
    }

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_advisor_profile .single_advisor_details_info h6 {
        font-size: 14px;
    }
}

.single_advisor_profile .single_advisor_details_info p {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    margin-bottom: 0;
    font-size: 14px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_advisor_profile .single_advisor_details_info p {
        font-size: 12px;
    }
}

.single_advisor_profile:hover .advisor_thumb::after,
.single_advisor_profile:focus .advisor_thumb::after {
    background-color: #070e13;
}

.single_advisor_profile:hover .advisor_thumb .social-info a,
.single_advisor_profile:focus .advisor_thumb .social-info a {
    color: #ffffff;
}

    .single_advisor_profile:hover .advisor_thumb .social-info a:hover,
    .single_advisor_profile:hover .advisor_thumb .social-info a:focus,
    .single_advisor_profile:focus .advisor_thumb .social-info a:hover,
    .single_advisor_profile:focus .advisor_thumb .social-info a:focus {
        color: #ffffff;
    }

.single_advisor_profile:hover .single_advisor_details_info,
.single_advisor_profile:focus .single_advisor_details_info {
    background-color: #070e13;
}

    .single_advisor_profile:hover .single_advisor_details_info::after,
    .single_advisor_profile:focus .single_advisor_details_info::after {
        background-color: #ffffff;
    }

    .single_advisor_profile:hover .single_advisor_details_info h6,
    .single_advisor_profile:focus .single_advisor_details_info h6 {
        color: #ffffff;
    }

    .single_advisor_profile:hover .single_advisor_details_info p,
    .single_advisor_profile:focus .single_advisor_details_info p {
        color: #ffffff;
    }

/* footer */

ul.footer-menu-list li {
    display: block;
    text-align: left;
}

    ul.footer-menu-list li.active a {
        color: #ff0909;
    }

ul.footer-menu-list li a {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    display: block;
}

ul.footer-menu-list li a:hover {
    color: #ff0909;
}

.copyright ul.footer-company-info li {
    display: inline-block;
}

    .copyright ul.footer-company-info li p {
        border: none;
    }

    .copyright ul.footer-company-info li:not(:first-child) p::before {
        content: "•";
        margin-right: 5px;
    }

.copyright ul.footer-company-info li p {
    padding: 0px;
}

/* chi tiết phòng */

.the-post {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #dedede;
    margin-bottom: 50px;
}

.the-post .section {
    padding: 0;
    border: 0;
    border-radius: 0;
}

.post-images {
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
}

    .post-images .has-label {
        height: 30px;
        z-index: 2;
    }

        .post-images .has-label:after {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            right: -15px;
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 15px solid #ff3d27;
        }

    .post-images .chothuenhanh-label {
        width: 90px;
        height: 90px;
        pointer-events: none;
        background: url(../images/chothuenhanh-label.png) center no-repeat;
        background-size: contain;
        position: absolute;
        top: -7px;
        left: -7px;
        z-index: 2;
    }

    .post-images .images-swiper-container {
        position: relative;
        background: #16181f url(../images/default-image.svg) center no-repeat;
        background-size: 100px 100px;
        margin-bottom: 15px;
        height: 317px;
        overflow: hidden;
    }

    .post-images .swiper-slide {
        height: 317px;
        display: flex;
        align-items: center;
        background-color: #16181f;
    }

        .post-images .swiper-slide img {
            max-height: 100%;
            width: 100%;
            display: block;
            margin: 0 auto;
            object-fit: contain;
        }

    .post-images .swiper-pagination {
        background: transparent;
        padding: 0px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
    }

        .post-images .swiper-pagination .swiper-pagination-bullet {
            opacity: 1;
            background: #ddd;
            margin: 10px 3px 0;
            width: 3px;
            height: 3px;
        }

            .post-images
            .swiper-pagination
            .swiper-pagination-bullet.swiper-pagination-bullet-active {
                width: 10px;
                height: 10px;
            }

    .post-images .post-hot {
        width: 40px;
        height: 40px;
        display: block;
        background: url(../images/hot.svg) center no-repeat;
        background-size: 100%;
        pointer-events: none;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 5px;
    }

    .post-images .post-save {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        cursor: pointer;
    }

        .post-images .post-save i {
            width: 40px;
            height: 40px;
            background: url(../images/love.png) center no-repeat;
            background-size: 30px;
            display: inline-block;
        }

        .post-images .post-save.saved i {
            background: url(../images/love-full-2.svg) center no-repeat;
            background-size: 30px;
        }

.the-post .post-images .video-item {
    width: 100%;
    height: 100%;
}

.the-post .page-header {
    padding: 5px 0 15px;
}

    .the-post .page-header.has-label-chothuenhanh {
        padding-right: 110px;
        position: relative;
    }

    .the-post .page-header .icon-label-chothuenhanh {
        width: 60px;
        height: 60px;
        background: url(../images/chothuenhanh-label.png) center no-repeat;
        background-size: contain;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

.the-post .star {
    background-size: 20px 20px;
    width: 20px;
    height: 23px;
}

    .the-post .star.star-1 {
        width: 20px;
        height: 23px;
    }

    .the-post .star.star-2 {
        width: 40px;
        height: 23px;
    }

    .the-post .star.star-3 {
        width: 60px;
        height: 23px;
    }

    .the-post .star.star-4 {
        width: 80px;
        height: 23px;
    }

    .the-post .star.star-5 {
        width: 100px;
        height: 23px;
    }

.the-post .post-address {
    margin: 0 0 10px;
    display: flex;
    align-items: center;
}

    .the-post .post-address:before {
        display: inline-block;
        width: 15px;
        height: 15px;
        content: "";
        background: url(../images/address-icon.svg) center no-repeat;
        background-size: contain;
        margin-right: 5px;
    }

.the-post .page-h1 {
    font-size: 1.7rem;
}

    .the-post .page-h1 a {
        color: #333;
    }

.the-post.normal .page-h1 {
    text-transform: initial;
    color: #333 !important;
}

.the-post .post-attributes {
    display: flex;
}

    .the-post .post-attributes .item {
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        margin-right: 35px;
        text-align: center;
    }

        .the-post .post-attributes .item:last-of-type {
            margin-right: 0;
        }

        .the-post .post-attributes .item > i {
            width: 16px;
            height: 16px;
            margin-right: 8px;
        }

        .the-post .post-attributes .item.price > i {
            background: url(../images/price-icon.svg) center no-repeat;
            background-size: contain;
        }

        .the-post .post-attributes .item.acreage > i {
            background: url(../images/acreage-icon.svg) center no-repeat;
            background-size: contain;
        }

        .the-post .post-attributes .item.published > i {
            background: url(../images/wall-clock-icon.svg) center no-repeat;
            background-size: contain;
            opacity: 0.3;
        }

        .the-post .post-attributes .item.hashtag > i {
            background: url(../images/hashtag.svg) center no-repeat;
            background-size: contain;
            opacity: 0.3;
        }

.the-post .post-price {
    font-size: 1.1rem;
    margin: 12px 0 0;
}

    .the-post .post-price .price {
        color: #16c784;
        margin-right: 0;
        font-weight: bold;
        display: inline-flex;
        align-items: center;
    }

    .the-post .post-price .post-price-item {
        margin-left: 45px;
        display: inline-block;
        font-weight: bold;
        font-size: 1.2rem;
    }

        .the-post .post-price .post-price-item:first-of-type {
            margin-left: 0px;
        }

        .the-post .post-price .post-price-item > span {
            display: block;
            margin-bottom: 5px;
            font-weight: normal;
            font-size: 1rem;
            color: #777;
        }

.the-post .post-main-content .section-content {
    font-size: 1.1rem;
}

.the-post table {
    width: 100%;
    border-spacing: 0;
}

    .the-post table tr:nth-of-type(even) {
        background-color: #f5f5f5;
    }

    .the-post table td {
        padding: 10px;
        /* border: 1px solid #eee; */
    }

        .the-post table td.name {
            white-space: nowrap;
            width: 25%;
        }

.the-post .post-map iframe {
    width: 100%;
    height: 300px;
}

.the-post .post-report p {
    color: #777;
}

.the-post .post-fix-bar {
    display: none;
}

body.fix-body .the-post .post-fix-bar {
    position: fixed;
    display: block;
    top: 40px;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 8px rgb(3 44 71 / 12%);
}

.the-post .post-fix-bar .inner {
    width: 1100px;
    margin: 0 auto;
    padding: 7px 0px;
}

.the-post .post-fix-bar .left-bar {
    float: left;
}

.the-post .post-fix-bar .right-bar {
    float: right;
    display: flex;
}

.the-post .post-fix-bar .post-fix-bar-price {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    color: #16c784;
    margin-bottom: 2px;
}

.the-post .post-fix-bar .post-fix-bar-address {
    color: #333;
    font-size: 0.9rem;
}

.the-post .post-fix-bar .post-fix-bar-phone {
    font-weight: bold;
    font-size: 1.2rem;
    background: #16c784;
    border-color: #16c784;
    display: inline-flex;
    align-items: center;
    padding: 8px 15px;
    border-radius: 8px;
    color: #fff;
}

    .the-post .post-fix-bar .post-fix-bar-phone i {
        width: 20px;
        height: 20px;
        background: url(../images/phone-call-white.svg) center no-repeat;
        background-size: contain;
        display: inline-block;
        margin-right: 5px;
    }

.the-post .post-fix-bar .post-fix-bar-save,
.the-post .post-fix-bar .post-fix-bar-zalo {
    font-size: 0.9rem;
    font-weight: bold;
    background: #fff;
    border: 1px solid #ddd;
    display: inline-flex;
    align-items: center;
    padding: 8px 15px;
    border-radius: 8px;
    color: #333;
    margin-right: 5px;
    cursor: pointer;
}

    .the-post .post-fix-bar .post-fix-bar-save i {
        width: 20px;
        height: 20px;
        background: url(../images/love.svg) center no-repeat;
        background-size: contain;
        display: inline-block;
        margin-right: 5px;
    }

    .the-post .post-fix-bar .post-fix-bar-save.saved i {
        background: url(../images/love-full.svg) center no-repeat;
        background-size: contain;
    }

.author-aside {
    border: 1px solid #febb02;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #febb02;
}

    .author-aside .author-avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 10px;
    }

    .author-aside .author-name {
        font-size: 1.5rem;
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }

    .author-aside .author-online-status {
        text-align: center;
    }

        .author-aside .author-online-status i {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #ddd;
            display: inline-block;
            margin-right: 5px;
            margin-bottom: 2px;
        }

        .author-aside .author-online-status.online i {
            background-color: #14c683;
        }

    .author-aside .author-phone {
        font-weight: bold;
        font-size: 1.5rem;
        width: 100%;
        background: #16c784;
        border-color: #16c784;
        background: linear-gradient(to right, #16c784, #16c784);
        margin-bottom: 10px;
    }

        .author-aside .author-phone:hover {
            text-decoration: none;
            background: #13bb7b;
            border-color: #13bb7b;
            background: linear-gradient(to right, #13bb7b, #13bb7b);
        }

        .author-aside .author-phone i {
            width: 20px;
            height: 20px;
            background: url(../images/phone-call-white.svg) center no-repeat;
            background-size: contain;
            display: inline-block;
            margin-right: 5px;
        }

    .author-aside .author-zalo {
        width: 100%;
        background: #fff;
        border-color: #333;
        background: linear-gradient(to right, #fff, #fff);
        color: #333;
        margin-bottom: 5px;
    }

        .author-aside .author-zalo i {
            width: 25px;
            height: 25px;
            background: url(../images/icon-zalo.png) center no-repeat;
            background-size: contain;
            display: inline-block;
            margin-right: 5px;
        }

    .author-aside .btn.post-save {
        width: 100%;
        background: #fff;
        border-color: #333;
        background: linear-gradient(to right, #fff, #fff);
        color: #333;
    }

        .author-aside .btn.post-save i {
            width: 23px;
            height: 23px;
            background: url(../images/love.svg) center no-repeat;
            background-size: contain;
            display: inline-block;
            margin-right: 5px;
        }

        .author-aside .btn.post-save.saved i {
            background: url(../images/love-full.svg) center no-repeat;
            background-size: contain;
        }

.icon-megaphone {
    width: 30px;
    height: 30px;
    background: url(../images/megaphone.svg) center no-repeat;
    background-size: contain;
    display: inline-block;
    margin-right: 10px;
}