/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.d-none {
    display: none !important;
}
.bg-light {
    background-color: #f8f9fa !important;
}
.sidebar {
    padding: 15px;
}
.dashboard .user_info {
    margin-bottom: 15px;
    padding-bottom: 10px;
}

    .dashboard .user_info a:hover {
        text-decoration: none;
    }

    .dashboard .user_info .user_avatar {
        width: 50px;
        height: 50px;
        float: left;
        border-radius: 50%;
        overflow: hidden;
        background: #eee;
    }

        .dashboard .user_info .user_avatar img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .dashboard .user_info .user_meta {
        margin-left: 60px;
        min-height: 60px;
        align-items: center;
        display: flex;
        color: initial;
    }

    .dashboard .user_info .user_name {
        font-weight: bold;
        font-size: 1.2rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 15px;
    margin-left: -20px;
    padding: 0 10px;
}
.nav-item {
    margin-bottom: -$nav-tabs-border-width;
}
.nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 0.75rem;
    padding-right: 1rem;
    color: #fff;
}
.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}
.user-avatar-upload-wrapper .btn-add-avatar {
    color: transparent;
    margin: 5px 0 10px;
    width: 100%;
}
.user-avatar-preview {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fafafa;
}
.pb-2, .py-2 {
    padding-bottom: .5rem !important;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

.mt-5, .my-5 {
    margin-top: 3rem !important;
}

.form-group {
    margin-bottom: 1rem;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .form-control {
        padding: 0.75rem;
        height: auto !important;
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.text-muted {
    color: #6c757d !important;
}

.form-text {
    display: block;
    margin-top: .25rem;
}
.user-avatar-upload-wrapper {
    width: 140px;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.user-avatar-upload-wrapper .remove-image {
    color: red !important;
    cursor: pointer;
    display: none;
    width: 100%;
    height: 30px;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 5px;
    border: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.user-avatar-upload-wrapper .btn-add-avatar {
    color: transparent;
    margin: 5px 0 10px;
    width: 100%;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

*, ::after, ::before {
    box-sizing: border-box;
}

user agent stylesheet
input[type="file" i] {
    background-color: initial;
    border-color: initial;
    border-radius: initial;
}

user agent stylesheet
input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    overflow-clip-margin: 0px !important;
    overflow: clip !important;
}

user agent stylesheet
input[type="file" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    align-items: baseline;
    color: inherit;
    text-overflow: ellipsis;
    text-align: start !important;
    padding: initial;
    border: initial;
    white-space: pre;
}

user agent stylesheet
input {
    font-style:;
    font-variant-ligatures:;
    font-variant-caps:;
    font-variant-numeric:;
    font-variant-east-asian:;
    font-variant-alternates:;
    font-variant-position:;
    font-weight:;
    font-stretch:;
    font-size:;
    font-family:;
    font-optical-sizing:;
    font-size-adjust:;
    font-kerning:;
    font-feature-settings:;
    font-variation-settings:;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-block: 1px;
    padding-inline: 2px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .btn[type="submit"] {
        padding: 0.75rem;
    }
}

.mb-2, .my-2 {
    margin-bottom: .5rem !important;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-group-lg > .btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border-radius: 0;
}

*, ::after, ::before {
    box-sizing: border-box;
}

user agent stylesheet
button {
    appearance: auto;
    font-style:;
    font-variant-ligatures:;
    font-variant-caps:;
    font-variant-numeric:;
    font-variant-east-asian:;
    font-variant-alternates:;
    font-variant-position:;
    font-weight:;
    font-stretch:;
    font-size:;
    font-family:;
    font-optical-sizing:;
    font-size-adjust:;
    font-kerning:;
    font-feature-settings:;
    font-variation-settings:;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.pb-2, .py-2 {
    padding-bottom: .5rem !important;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}
.mb-2, .my-2 {
    margin-bottom: .5rem !important;
}

.btn-toolbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.mr-1, .mx-1 {
    margin-right: .25rem !important;
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}
.btn-toolbar .input-group {
    width: auto;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.btn-group-sm > .btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.d-none {
    display: none !important;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
    .table-responsive > .table-bordered {
        border: 0;
    }

.table_post_listing {
    font-size: 0.9rem;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
.dashboard .user_info {
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}