/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

    blockquote:after, blockquote:before, q:after, q:before {
        content: '';
        content: none
    }

table {
    border-collapse: collapse;
    border-spacing: 0
}

/*quản lý tài khoản*/
.user-avatar-upload-wrapper {
    width: 140px;
}

    .user-avatar-upload-wrapper .remove-image {
        color: red !important;
        cursor: pointer;
        display: none;
        width: 100%;
        height: 30px;
        background-color: #f1f1f1;
        cursor: pointer;
        border-radius: 5px;
        border: 0;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .user-avatar-upload-wrapper.upload_done .remove-image {
        display: inline-flex;
    }

    .user-avatar-upload-wrapper .btn-add-avatar {
        color: transparent;
        margin: 5px 0 10px;
        width: 100%;
    }

        .user-avatar-upload-wrapper .btn-add-avatar::before {
            content: "Chọn ảnh";
            outline: none;
            white-space: nowrap;
            -webkit-user-select: none;
            cursor: pointer;
            background-color: #f1f1f1;
            color: #000;
            border-radius: 5px;
            border: 0;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 30px;
        }

.user-avatar-preview {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fafafa;
}